- name: Installer Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Configurer Nginx comme reverse proxy pour FastAPI
  copy:
    dest: /etc/nginx/sites-available/fastapi
    content: |
      server {
        listen 80;
        location / {
          proxy_pass http://127.0.0.1:8000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        } 
      }

- name: Active le site FastAPI
  file:
    src: /etc/nginx/sites-available/fastapi
    dest: /etc/nginx/sites-enabled/fastapi
    state: link

- name: Desactiver le site par defaut
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Redemarrer Nginx
  service:
    name: nginx
    state: restarted
